.btn{
    padding: 0px 12px;
}
.container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.table{margin: 0px;}
.table-footer{font-size: small; font-weight: bold;}
pre{margin: 0px;}
.dz-success.dz-complete{
    background-color: rgba(2,255,45,0.5) !important;
}